# IMPORTANT : mets ici les MÊMES versions que dans ton environnement local
# (pip freeze | findstr "scikit pandas numpy imbalanced mlflow") pour que le .pkl se recharge sans erreur
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.9.0
imbalanced-learn==0.12.4
joblib==1.4.2
matplotlib==3.9.2
seaborn==0.13.2
mlflow==2.17.2
fastapi==0.115.4
uvicorn[standard]==0.32.0
pydantic==2.9.2
